    {% block styles %}


<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/jquery.tabledit.js"></script>


	<script src="{{ url_for('static', filename='api.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/jira_list.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/snackbar.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/popup.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/icons.css') }}">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  
    

</head>
<body>
{% endblock %}
<div class="col-sm-4">
<table id="month_list" class="table" style="width:60%">
        <thead>
            <tr>
                <th>Month</th>
            </tr>
        </thead>
        <tbody>
   {% for item in input %}
   <tr id={{ item }} onclick="tableRowProcessor(this);"> 
        <td>{{ item }}</td>
   </tr>
   {% endfor %}
   </tbody>
</table>
</div>

</body> 